$copper-style: Copperplate, Copperplate Gothic Light, fantasy;
$old-style: Goudy Old Style, Garamond, Big Caslon, Times New Roman;
$fantasy-style: Papyrus fantasy;

.heading {
  font-family: $Font-Copper; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  text-shadow: 2px 2px 5px block;
  text-decoration: underline; 
}